.card {
    border-radius: 10px;
  }

.card-title {
  color: #343a40;
}

.card {
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}



